[reddit]
user_agent = %(YOUR_USERNAME)s
username = YOUR_USERNAME
password = YOUR_PASSWORD
subreddit = YOUR_SUBREDDIT
multiprocess = false

[logging]
dest = mysql

[mysql]
hostname = MYSQL_HOST_NAME
username = MYSQL_USER_NAME
password = MYSQL_PASSWORD
database = MYSQL_DATABASE

[trade]
link_id = TRADE_POST_LINK_ID
equal = You have confirmed a trade under your own post, this action has been reported to the Moderators.
age = Your account has been created recently, this has been sent for further review.
karma = You do not have enough karma, this has been sent for further review.
added = added
sleep = 20
karma_check = 10
age_check = 14

[price]
link_id = PRICE_CHECK_POST_LINK_ID

[heatware]
link_id = HEATWARE_POST_LINK_ID
regex = (https?://(?:www\.)?heatware\.com/eval\.php\?id=\d{1,7})
respond = no
